*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0);
}
#main-canvas{
    aspect-ratio: 16 / 9;
    image-rendering: pixelated;
    width: min(100vw, 177.7778vh);
    height: min(56.25vw, 100vh);
    background-color: rgb(20,20,20);
    position: absolute;
}
#game-canvas{
    left:50%;
    top: 50%;
    width: 400;
    height: 400;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
    position: absolute;
    background-color: rgb(170,170,170);
}